<meta charset="utf-8">
<title>Chérence</title>
<style type="text/css">
    @page {
        size: A4;
        margin: 5mm;
    }
    @font-face {
        font-family: 'Fira Sans Regular';
        src: url('../fonts/FiraSans-Regular.otf');
    }
    img {
        width: 100%;
    }
    header {
        position: absolute;
        top: 0;
        width: 100%;
        text-align: center;
        background-color: #fff;
        opacity: 0.8;
    }
    html, body {
        width: 100%;
        height: 100%;
    }
    body {
        height: 97%;
        font-family: 'Fira Sans Regular';
        background-image: url('../tmp/local.png');
        background-size: contain;  /*contain*/
        background-repeat: no-repeat;
        background-position: center;
        margin: 0;
        margin-top: 30px;
    }
</style>
<header>Mantes-Chérence LFFC:  AUTO-INFO: 134.15 — CAMPAGNE: 130.52</header>
